<div class="card" style="width: 18rem;">
    <img src="{{autoGuardado.url}}" class="card-img-top" alt="auto">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{Detalles}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Modelo: {{autoGuardado.modelo | uppercase}}</h6>
                <p class="card-text">Patente: {{autoGuardado.patente}}</p>
                <p class="card-text">Velocidad: {{autoGuardado.velocidad}}</p>
                <p class="card-text">Fecha: {{autoGuardado.fecha | date: "mediumDate"}}</p>
            </div>
        </div>
</div>
